@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body.paletaDeColores{
    --colorPrincipal: #034471;
    --colorSecundario: #0E7ABF;
    --colorTerciario: #73CBF3;
    --colorTexto: #444443;
}

ul{
    list-style: none; 
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.logo-header{
    width: 20%;
}

#img-logo{
    width: 100%;
}

nav{
    width: 80%;
}
nav, .menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.menu-container{
    width: 100%;
}

.menu-item:hover>a{
    color: var(--colorPrincipal);
    font-weight: 500;
}

.seguros-menu{
    position: relative;
}

.seguros-menu:hover>.seguros-submenu{
    visibility: visible;
} 

.seguros-submenu{
    visibility: hidden;
    position: absolute;
    left: 0;
    padding: 0;
}

.seguros-submenu li{
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: var(--colorTexto);
}

.fa-whatsapp{
    color: limegreen;
    font-size: 50px;
    margin-left: 40px;
}

.slider-container li{
    width: 100%;
}

 img{
     width: 100%;
 }