@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body.paletaDeColores{
    --colorPrincipal: #034471;
    --colorSecundario: #0E7ABF;
    --colorTerciario: #73CBF3;
    --colorTexto: #444443;
}

ul{
    list-style: none; 
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo-header{
    width: 20%;
}

#img-logo{
    width: 100%;
}

nav{
    width: 80%;
}
nav, .menu-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.menu-container{
    width: 100%;
}

.menu-item:hover>a{
    color: var(--colorPrincipal);
    font-weight: 500;
}

.seguros-menu{
    position: relative;
}

.seguros-menu:hover>.seguros-submenu{
    visibility: visible;
} 

.seguros-submenu{
    visibility: hidden;
    position: absolute;
    left: 0;
    padding: 0;
}

.seguros-submenu li{
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: var(--colorTexto);
}

.fa-whatsapp{
    color: limegreen;
    font-size: 50px;
    margin-left: 40px;
}

/**************** SECTION SLIDER *****************/

.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-container{
    display: flex;
    width: 300%;
    height: 300px;
    margin-left: -100%;
}

.slider-section{
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(187, 184, 184, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn:hover{
    background-color: rgba(224, 218, 218, 0.747);
}

.slider-btn-right{
    right: 10px;
}

.slider-btn-left{
    left: 10px;
}